#trac {
	padding: 140px 30px 20px 30px;
	margin: 0 0 0 0;
	color: #444;
}

#trac table table {
	margin: 5px;
	border-collapse: collapse;
	color: #DDD;
}

#trac table table, #trac table table td{
	border: 3px solid #444444;
	border-spacing: 5px;
	vertical-align:top;
}

#trac table table td {
	padding: 5px;
}

#trac table table tr:nth-child(even) {
	background-color: #AAA3;
}

#trac a {
	text-decoration: none;
}
#trac a.missing {
	color: #F86F00AB; text-decoration: none;
}
	#trac a.missing:hover {
		color: #DDD;
	}
#trac img {
	max-width: 900px;
}
#trac h1 {
	margin: 10px 0;
}
	#trac h1:first-of-type {
		margin-top: 0;
	}
#trac h2, #trac h3 {
	color: #;
	margin: 5px 0;
}
#trac ul, #trac ol {
	margin: 0 0 0 20px;
}
#trac pre.wiki, #trac pre.literal-block, #trac pre.code, #trac .code pre {
	background: #f7f7f7;
	border: 1px solid #DDD;
	margin: 1em 1.75em;
	padding: .25em;
	overflow: hidden;
	line-height: 100%;
}
#attachments {
	margin-top: 10px;
	border: 1px outset #996;
	padding: 1em
}
